body {
  margin: 0;
  background: #0f172a;
  font-family: Arial;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
}

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background: gray;
}

.download {
  text-align: center;
  color: #22c55e;
  text-decoration: none;
}